.tabbarActive {
    color: #007134
}

a {
    text-decoration: none;
    color: #003F34;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    padding-left: 0 !important;
}

li {
    list-style: none;
    display: flex;
    flex: 1;
    justify-content: center;
    border: 1px solid pink;
    padding: 20px 0;
}

.liAtivado {
    border: 1px solid #FF4DCB;
    background-color: pink;
}